body {
	background-color:#232323;
	color:white;
}

.search input {
	height: 20px;
	width: 300px;
	padding-left: 10px;
}

.content {
	width: 100%;
}

.video {
	width: 500px;
}

.video pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.table {
	width: 300;
	overflow: hidden;
	background-color: #151515;
}

.header {
	width: 100%;
	height: 20px;
}

.header .nav {
	display: inline;
}

.header .settings {
	float: right;
	display: block;
}

a:visited {
	color: white;
}

a {
	color: white;
}

a:hover {
	color: #00ff00;
}

a:visited {
	color: purple;
}

.paginator .current {
	color:#00ff00;
}
.paginator a {
	color: white;
}
.paginator a:hover {
	color: #00ff00;
}

.header a {
	color: white;
}