body {
	background-color:#232323;
	color:white;
}

.search input {
	width: 300px;
	padding-left: 10px;
}

.content {
	width: 100%;
}

.video a {
	color: #6565f5;
}

.view-videos {
	display: flex;
	flex-wrap: wrap;
}

.video {
	background-color: #151515;
	width: 600px;
	margin-bottom: 20px;
	margin-right: 30px;
}

.video pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.table {
	width: 300;
	overflow: hidden;
	background-color: #151515;
}

.header {
	width: 100%;
	height: 20px;
}

.header .nav {
	display: inline;
}

.header .settings {
	float: right;
	display: block;
}

a:visited {
	color: white;
}

a {
	color: white;
}

a:hover {
	color: #00ff00;
}

a:visited {
	color: purple;
}

.paginator .current {
	color:#00ff00;
}
.paginator a {
	color: white;
}
.paginator a:hover {
	color: #00ff00;
}

.header a {
	color: white;
}

:root {
	--content-width: 1000px;
	--input-width: 800px;
	--background: url(/static/background.bmp);
	--table-background: rgba(0, 0, 0, 0.8);
	--link-color: rgb(255, 255, 255);
	--link-hover-color: rgb(255, 255, 255);
	--link-visited-color: #e297cd;
	--input-color: rgb(50, 50, 50, 0.5);
}

.header > .nav > a, .header > .settings > a {
	color: white;
}

a:visited {
	color: var(--link-visited-color);
}

a {
	color: var(--link-color);
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
}

a:visited:hover, a:hover {
	color: var(--link-hover-color);
}

.table,.video {
	background-color: var(--table-background);
}


body {
	margin: 0px;
	background-color: black;
}

.header {
	padding-top: 3px;
}


body::before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	filter: blur(3px);
	
	background-image: var(--background);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: -100px;
	background-attachment: fixed;
}


hr {
	display: none;
}

.search > form > input {
	width: var(--input-width);
	height: 25px;
	background-color: var(--input-color);
	border: none;
	color: white;
}
.search > form > button {
	padding: 5px;
}

.table.videos,.table.channels {
	width: var(--content-width);
}

.content {
	width: var(--content-width);
	margin: auto;
}

.footer {
	margin: auto;
	width: var(--content-width);
}

h1,h2 {
	font-family: Optima, sans-serif;
}

.profile-content {
	background-color: rgba(0, 0, 0, 0.5);
}

.profile-description  {
	width: 100%;
}

.table tr:nth-child(odd) {
	background-color: rgb(100, 255, 255, 0.1);
}

.profile-description pre {
	width: 100%;
	overflow-wrap: break-word;
	overflow: wrap;
	white-space: pre-wrap;
}

.profile-background img {
	width: 100%;
	max-height: 166px;
}

.profile-sections {
	margin-top: 10px;
	margin-left: 30px;
	display: flex;
}

.profile-section {
	margin-right: 40px;
}

.flex {
	display: flex;
}