{{ define "_header" }}
<div class="header">
	<div class="nav">
		<a href="/">[home]</a>
		<a href="/search">[search]</a>
		<a href="/channels">[channels]</a>
	</div>
	<div class="settings">
		{{- if .loggedin }}
			<a href="/logout?redirect={{.redirect}}">[logout]</a>
		{{- end }}
		<a href="" onclick="setCSS('dark.css');">[dark]</a>
		<a href="" onclick="setCSS('light.css');">[light]</a>"
		<a href="" onclick="setCSS('main.css');">[default]</a>
		<a href="" onclick="setCSS('modern_dark.css');">[modern_dark]</a>
		<a href="" onclick="setCSS('modern.css');">[modern light]</a>
	</div>
</div>
{{ end }}