{{define "_paginator" }}
<div class="paginator">
{{- if .Beginning }}
	<a class="start" href="{{.GetURL .Beginning}}">{{.Beginning}}</a>
	<span>...</span>
{{- end }}

{{- if len .Middle | ne 1 }}
	{{- range .Middle }}
		{{- if $.Current | eq .}} 
			<span class="current">{{.}}</span>
		{{- else }}
			<a class="middle {{if $.Current | eq .}}current{{end}}" href="{{$.GetURL .}}">{{.}}</a>
		{{- end }}
	{{- end }}
{{- end }}

{{- if .Ending}}
	<span>...</span>
	<a class="end" href="{{.GetURL .Ending}}">{{.Ending}}</a>
{{- end }}
</div>
{{end }}