{{define "channels"}}
<!DOCTYPE html>
<html>
<head>
	<title>{{.title}}</title>
	{{ template "_imports" . }}
</head>
<body>
	<div class="content">
		{{ template "_header" .}}
		<h1>Channels</h1>
		{{ template "_channel_search" .}}
		{{ if .err }}
			<h1>An error has occured</h1>
			<p>{{.err}}</p>
		{{ else }}
			{{ if len .channels | ne 0}}
				<table class="table channels">
					<tr>
						<th>Name</th>
						<th>URL</th>
					</tr>
					{{ range .channels }}
					<tr>
						<td><a href="/search?q=uploader:{{.Uploader}}%3B">{{.Uploader}}</a></td>
						<td><a href="{{.UploaderURL}}">{{.UploaderURL}}</a></td>
					</tr>
					{{ end }}
				</table>
			{{ end }}
		{{ end }}
	</div>
	{{ template "_footer" . }}
</body>
</html>
{{end}}