{{ define "login" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{.title}}</title>
	{{ template "_imports" . }}
</head>
<body>
	<div class="content">
		{{ template "_header" . }}
		<form class="login-field" action="/login" enctype="application/x-www-form-urlencoded" method="POST">
			<input type="password" name="password">
			<input name="redirect" type="hidden" value="{{.redirect}}">
			<button type="submit">Login</button>
		</form>
	</div>
	{{ template "_footer" . }}
</body>
</html>
{{ end }}