{{ define "view" }} 
<html>
<head>
	<title>
	{{- if len .videos | ne 0 }}
		{{ (index .videos 0).Title }}
	{{- else }}
		Not found
	{{- end }}
	</title>
	{{ template "_imports" . }}
</head>
<body>
	<div class="content">
		{{template "_header" .}}
		{{ if not (len .videos | eq 0)}}
		<h1>{{ (index .videos 0).Title }}</h1>
		{{ end }}

		{{template "_video_search" .}}

		{{ if len .videos | eq 0 }}
			<h1>No videos found</h1>
			<img src="">
		{{ else }}
		
		{{ end }}

		{{ range .videos }}
		<table class="video">
			<tr>
				<td><b>Last scanned: {{.LastScanned}}</b></td>
			</tr>
			<tr>
				<td class="webpage-url"><a target="_blank" href="{{.WebpageURL}}"><h3>{{.Title}}</h3></a></td>
			</tr>
			<tr>
				<td><img class="thumbnail" width=480 src="{{.Thumbnail}}"></td>
			</tr>
			<tr>
				<td><a target="_blank" class="uploader-url" href="{{.UploaderURL}}">{{.Uploader}}</a></td>
				<td class="upload-date" >Date: {{.UploadDate}}</td>
				<td class="likes" >Likes: {{.Likes}}</td>
			</tr>
			<tr>
				<td colspan="3" class="description"><code><pre>{{.Description}}</pre></code></td>
			</tr>
		</table>
		{{ end }}
	</div>
	{{ template "_footer" . }}
</body>
</html>
{{ end }}