{{ define "view" }} 
<html>
<head>
	<title>
	{{- if len .videos | ne 0 }}
		{{ (index .videos 0).Title }}
	{{- else }}
		Not found
	{{- end }}
	</title>
	{{ template "_imports" . }}
</head>
<body>
	<div class="content">
		{{template "_header" .}}
		{{ if not (len .videos | eq 0)}}
		<h1>{{ (index .videos 0).Title }}</h1>
		{{ end }}

		{{template "_video_search" .}}

		{{ if len .videos | eq 0 }}
			<h1>No videos found</h1>
			<img src="">
		{{ else }}
		
		{{ end }}

		<div class="view-videos">
			{{ range .videos }}
			<table class="video">
				<tr>
					<td><b>Last scanned: {{.LastScanned}}</b></td>
				</tr>
				<tr>
					<td class="webpage-url"><a target="_blank" href="{{.WebpageURL}}"><h3>{{.Title}}</h3></a></td>
				</tr>
				<tr>
					<!-- <td><img class="thumbnail" width=480 src="{{.Thumbnail}}"></td> -->
					<td colspan="3"><iframe width="455" height="256" src="https://www.youtube.com/embed/{{.VideoID}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
				</tr>
				<tr>
					<!-- <td><a target="_blank" class="uploader-url" href="{{.UploaderURL}}">{{.Uploader}}</a></td> -->
					<td><a href="/search?q=uploader:{{.Uploader}}%3B">{{.Uploader}}</a><a target="_blank" href="{{.UploaderURL}}"> (source)</a></td>
					<td class="upload-date" ><b>Date:</b> {{.UploadDate}}</td>
					<td class="likes" >Likes: {{.Likes}}</td>
				</tr>
				<tr>
					<td colspan="2"><b>Thumbnail: </b> <a href="{{.Thumbnail}}">{{.Thumbnail}}</a></td>
					<td><b>Views: </b>{{.Views}}</td>
				</tr>
				<tr>
					<td colspan="3" class="description"><code><pre>{{.Description}}</pre></code></td>
				</tr>
			</table>
			{{ end }}
		</div>
	</div>
	{{ template "_footer" . }}
</body>
</html>
{{ end }}